[Unit]
Description=Gunicorn daemon for blogapi
After=network.target

[Service]
User=vitalii
Group=blogapi
Environment=PYTHONPATH=/srv/blogapi/.venv/lib/python3.12/site-packages:/srv/blogapi/src
EnvironmentFile=/srv/blogapi/.env
WorkingDirectory=/srv/blogapi
ExecStart=/srv/blogapi/.venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/srv/blogapi/gunicorn.sock \
    core.wsgi:application
[Install]
WantedBy=multi-user.target
